<!DOCTYPE html>
<html>
    <head>
    </head>
</head>
Dear <%=@userName%>
<br/>
<p>
This is the HTML rendering of the page.<br/>
This is the link: <a href="<%=@urlLocation%>" target="_BLANK"><%=@urlLocation%></a>
</p>
<br/>


</html>