<div class="row">
        <div col="col-md-6">
        Student ID:
        </div>
        <div col="col-md-6">
        <%=@student.studentID%>
        </div>
</div>

<div class="row">
        <div col="col-md-6">
            First Name:
        </div>
        <div col="col-md-6">
            <%=@student.fName%>
        </div>
</div>
<div class="row">
        <div col="col-md-6">
            Last Name:
        </div>
        <div col="col-md-6">
            <%=@student.lName%>
        </div>
</div>

<div class="row">
    <div class="col-md-3">
        <%= link_to 'Back', '/students' %>
    </div>

</div>
